body {
	background: url('images/body-bg.jpg');
	background-attachment: fixed;
	background-size: cover;
}

/*--------------cover----------------*/
.cover {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,.8);
	display: table;
}
.container {
	display: table-cell;
	vertical-align: middle;
}
.screen-caption {
	font-family: tahoma;
	font-size: 25px;
	color: #fff;
	margin:10px auto 40px auto;
}
.input-field {
	width: 230px;
	height: 40px;
	border: solid 2px #999;
	background:rgba(255,255,255,.0);
	border-radius: 10px;
	display: block;
	margin:30px auto;
	outline: none;
	text-align: left;
	padding:0px 0px 0px 20px;
	font-family: tahoma;
	color: #fff;
	font-size: 15px;
	-o-transition:border .2s ease-in-out;
	-moz-transition:border .2s ease-in-out;
	-webkit-transition:border .2s ease-in-out;
	transition:border .2s ease-in-out;
} 
.input-field:focus {
	border: solid 2px #fff;
} 
.input-field::-webkit-input-placeholder{
	color: #fff;
}
.input-field::-moz-placeholder{
	color: #fff;
}
.input-field:-ms-input-placeholder{
	color: #fff;
}
.input-field:-moz-placeholder{
	color: #fff;
}
#order-button {
	width: 160px;
	height: 40px;
}
#order-button {
	background:-webkit-linear-gradient(#ed3748, #f00);
	background:-o-linear-gradient(#ed3748, #f00);
	background:-moz-linear-gradient(#ed3748, #f00);
	background:linear-gradient(#ed3748, #f00);
	border:solid 2px #ccc;
}
#order-button, #cancel-button {
	border-radius: 10px;
	outline: none;
	font-family: tahoma;
	font-size: 15px;
	color: #fff;
	cursor: pointer;
	-o-transition:border .2s ease-in-out;
	-moz-transition:border .2s ease-in-out;
	-webkit-transition:border .2s ease-in-out;
	transition:border .2s ease-in-out;
	margin: 0px auto 20px auto;
}
#order-button:hover, #cancel-button:hover {
	border: solid 2px #fff;
}
#cancel-button {
	width: 90px;
	height: 40px;
	background:rgba(0,0,0,.0);
	color: #aaa;
	border: solid 2px #aaa;
}
/*--------------cover----------------*/