body {
	background:url('images/home-body-bg.jpg');
	background-size: cover;
	background-attachment: fixed;
}

/*--------------------cover-----------------*/
.cover {
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,.72);
	position: absolute;
	left: 0;
	top: 0;
	display: table;
}
.container {
	display: table-cell;
	vertical-align: middle;
}
.logo {
	background:url('images/home-logo.png');
	width: 206px;
	height: 127px;
	margin: 20px auto;
	border-radius: 3px;
}
.caption {
	font-family: tahoma;
	font-size: 73px;
	margin-top: 10px;
	color: #000;
}
.slogan {
	color: #f1eded;
	font-family: arial;
	font-size: 13pt;
	width: 350px;
	margin:20px auto;
}
.social-icons {
	width: 250px;
	height: 40px;
	margin: 30px auto;
}
.social-icons > img {
	width: 40px;
	height: 40px;
	margin-left: 10px;
	border-radius: 3px;
	cursor: pointer;
	opacity: .7;
	-o-transition:opacity .2s ease-in-out;
	-moz-transition:opacity .2s ease-in-out;
	-webkit-transition:opacity .2s ease-in-out;
	transition:opacity .2s ease-in-out;
}
.social-icons > img:hover {
	opacity: 1;
}
.social-icons>img:first-child{
	margin-left: 0px;
}
#order-button {
	width: 250px;
	height: 60px;
	background:-webkit-linear-gradient(#fc3939, #c70808);
	background:-o-linear-gradient(#fc3939, #c70808);
	background:-moz-linear-gradient(#fc3939, #c70808);
	background:linear-gradient(#fc3939, #c70808);
	margin: 80px auto 10px auto;
	border:solid 3px #999;
	border-radius: 20px;
	line-height: 55px;
	color: #fff;
	font-family: tahoma;
	font-size: 23px;
	box-shadow: 0px 0px 10px #000;
	cursor: pointer;
	-o-transition:border .2s ease-in-out;
	-moz-transition:border .2s ease-in-out;
	-webkit-transition:border .2s ease-in-out;
	transition:border .2s ease-in-out;
	outline: none;
}
#order-button:hover {
	border:solid 3px #fff;
}
#learn-more {
	width: 150px;
	margin: 40px auto 10px auto;
	-o-transition: opacity .2s ease-in-out;
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}
#learn-more > p {
	font-family: tahoma;
	font-size: 18px;
	margin-bottom: 20px;
	color: #aaa;
	-o-transition:all .2s ease-in-out;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}
#learn-more>p, #learn-more>img {
	cursor: pointer;
}
#learn-more>img {
	opacity: .4;
	transition:all .2s ease-in-out;
}
#learn-more>p {
}
#learn-more:hover>img{
	opacity: 1;
}
#learn-more:hover>p {
	color: #fff;
}
/*--------------------cover-----------------*/